<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Add employee</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
</head>

<body>
	<div class="container">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<span class="navbar-brand mb-0 h1">HR Employee portal</span>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/emplist">Employees</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/deptlist">Departments</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/officelist">Offices</a>
		      </li>
		    </ul>
		  </div>
		</nav>
	<h1>Add new employee</h1>
	<div>
		<form th:object="${employee}" th:action="@{saveemp}" action="#" method="post">
			<div class="form-group">
				<label for="fName">First name</label>
				<input class="form-control" type="text" id="fName" th:field="*{fName}" />
				<p class="text-danger" th:if="${#fields.hasErrors('fName')}" th:errors="*{fName}">First name error</p>
			</div>
			<div class="form-group">
				<label for="lName">Last name</label>
				<input class="form-control" type="text" id="lNAme" th:field="*{lName}" />
				<p class="text-danger" th:if="${#fields.hasErrors('lName')}" th:errors="*{lName}">Last name error</p>			
			</div>
			<div class="form-group">
				<label for="email">Email</label>
				<input class="form-control" type="text" id="email" th:field="*{email}" />
				<p class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</p>
			</div>
			<div class="form-group">
				<label for="address">Street address</label>
				<input class="form-control" type="text" id="address" th:field="*{address}" />
				<p class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address error</p>
			</div>
			<div class="form-group">
				<label for="phone">Phone number</label>
				<input class="form-control" type="text" id="phone" th:field="*{phone}" />
				<p class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Phone number error</p>			
			</div>
			<div class="form-group">
				<label for="dob">Date of Birth</label>
				<input class="form-control" type="text" id="dob" th:field="*{dob}" />
				<p class="text-danger" th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}">Date of birth error</p>
			</div>
			<div class="form-group">
				<label for="deptlist">Department</label>
				<select id="deptlist" th:field="*{department}">
					<option th:each="department: ${departments}" th:value="${department.departmentId}" th:text="${department.name}"></option>
				</select>
			</div>
			<div class="form-group">
				<label for="officelist">Office</label>
				<select id="officelist" th:field="*{office}">
					<option th:each="office: ${offices}" th:value="${office.officeId}" th:text="${office.city}"></option>
				</select>
			</div>
			<input type="submit" class="btn btn-success" value="Save"></input>
			<a class="btn btn-warning" th:href="@{/emplist}">Cancel</a>
		</form>
	</div>
</div>
</body>
</html>