<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<title>List of departments</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
</head>

<body>
	<div class="container">
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<span class="navbar-brand mb-0 h1">HR Employee portal</span>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/emplist">Employees</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/deptlist">Departments</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/officelist">Offices</a>
		      </li>
		    </ul>
		  </div>
		</nav>
		<!-- End of navbar -->
		<h1>List of departments</h1>
		
	<table class="table table-striped">
		<thead>
			<tr>
			<th>Department name</th>
			<th>Abbreviation</th>
			<th>Delete</th>
			<th>Edit</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="department: ${departments}">
				<td th:text="${department.name}"></td>
				<td th:text="${department.abbr}"></td>
				<td><a class="btn btn-danger"  th:href="@{/deletedept/{id}(id=${department.departmentId})}">Delete</a></td>
 				<td><a class="btn btn-warning" th:href="@{/editdept/{id}(id=${department.departmentId})}">Edit</a></td>
			</tr>
		</tbody>
	</table>
	<a class="btn btn-success" th:href="@{/adddept}">Add a new department</a>
	<p class="text-center text-danger font-weight-bold">Please note! Deleting a department will delete all employees in the department!</p>
	</div>

<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js}"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}" ></script>
	
</body>
</html>