<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<title>List of offices</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
</head>

<body>
	<div class="container">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<span class="navbar-brand mb-0 h1">HR Employee portal</span>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		     <li class="nav-item active">
		        <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/emplist">Employees</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/deptlist">Departments</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/officelist">Offices</a>
		      </li>
		    </ul>
		  </div>
		  <div class="nav-item">
			<h4 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]!</h4>
		  </div>
		  <div class="nav-item" style="margin-left:20px">
			<form class="text-right" th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" class="btn btn-danger"/>
			</form>
		  </div>
		</nav>
		<h1>List of offices</h1>
		
	<table class="table table-striped">
		<thead>
			<tr>
			<th>City</th>
			<th>Country</th>
			<th sec:authorize="hasAuthority('ADMIN')">Delete</th>
			<th sec:authorize="hasAuthority('ADMIN')">Edit</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="office: ${offices}">
				<td th:text="${office.city}"></td>
				<td th:text="${office.country}"></td>
				<td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-danger" th:href="@{/deleteoffice/{id}(id=${office.officeId})}">Delete</a></td>
 				<td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-warning" th:href="@{/editoffice/{id}(id=${office.officeId})}">Edit</a></td>
			</tr>
		</tbody>
	</table>
	<a sec:authorize="hasAuthority('ADMIN')" class="btn btn-success" th:href="@{/addoffice}">Add a new office</a>
		<p sec:authorize="hasAuthority('ADMIN')" class="text-center text-danger font-weight-bold">Please note! Deleting an office will delete all employees in that office!</p>
	</div>
</body>
</html>